$sectionWidth: 100px
$socialWidth: $sectionWidth * 0.8

$socialLinkMargin: 10px

header
  position: fixed
  left: 0
  top: 0
  z-index: 999
  nav
    position: fixed
    top: 5vh
    right: 5vh
    ul
      list-style: none
      padding: 0
      margin: 0
      hr
        display: inline
        border: solid black 1px
      .nav-link
        display: inline
        margin: 50px
        font-family: $robotoMono
        user-select: none
        cursor: pointer
        text-transform: uppercase
        text-shadow: 2px 2px 0px $pinkLavender
      a
        text-decoration: none
        color: black
  .logo
    position: fixed
    left: 5vh
    top: 5vh
    width: $sectionWidth
  .contact
    transform: rotate(270deg)
    position: fixed
    width: $sectionWidth
    height: $sectionWidth
    left: 5vh
    bottom: 5vh
    p
      margin: 0px
      width: 25vh
  .social-menu
    background-color: black
    color: white
    height: $sectionWidth
    width: $sectionWidth
    position: fixed
    right: 5vh
    bottom: 5vh
    border-radius: 50%
    transition: background 300ms
    display: flex
    align-items: center
    justify-content: center
    &:hover
      background-color: $pinkLavender
    p
      margin: 0
      user-select: none
      cursor: pointer
    ul
      list-style: none
      width: $sectionWidth * 4
      padding: 0
      margin: 0
      position: absolute
      right: $sectionWidth + $socialLinkMargin
      display: flex
      .social-link
        width: $socialWidth
        height: $socialWidth
        border-radius: 50%
        background-color: $pastelPurple
        margin: $socialLinkMargin
        transition: transform 400ms
        img
          width: 50%
          position: relative
          right: 50%
          top: 50%
          transform: translate(50%, -50%)
      .linkedin
        background-color: $trolleyGrey
      .instagram
        background-color: $myrtleGreen


.hidden
  transform: translateY(200px)
